.revol-editor {
    margin: 0 auto;

    .content {
        padding-top: 66px;    
        padding-bottom: 70px;    
        @include flex-column;
        font-family: $text-content;

        &__title {
            color: #635C73;
            text-align: center;
            font-family: $text-content;
            font-size: 54px;
            font-weight: 700;
            line-height: 54px;
            text-transform: uppercase;
            margin-bottom: 35px;

            @media screen and (max-width: 992px) {
                font-size: 42px;
                line-height: 42px;
                margin-bottom: 33px;
            }

            @media screen and (max-width: 480px) {
                font-size: 26px;
                line-height: 28px;
                margin-bottom: 27px;
            }


        }

        &__description {
            color: #323232;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: 21px;
            font-weight: 400;
            line-height: 32px;
            max-width: 861px;
            margin-bottom: 13px;

            @media screen and (max-width: 992px) {
                padding-left: 40px;
                padding-right: 40px;
                margin-bottom: 24px;
            }

            @media screen and (max-width: 480px) {
                font-size: 14px;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 36px;
            }


        }

        &__btn-block {
            @include flex;
            gap: 10px;
            flex-wrap: wrap;

            .btn-flex {
                display: flex;
                position: relative;
            }

            .btn-svg {
                fill:#7f7f7f;
            }

            .btn-item {
                padding: 8px 15px;
                display: inline-flex;
                border: 1px solid #7f7f7f;
                border-radius: 6px;
                vertical-align: top;
                cursor: pointer;
                text-decoration: none;

                &--btn-txt {
                    color: #551A8B;
                    font-size: 12px;
                    line-height: 20px;
                    padding-left: 5px;
                }

                &--btn-counter {
                    margin-left: 2px;    
                    color: #000;
                    font-size: 12px;
                    padding: 0px 8px;
                    line-height: 20px;
                    background-color: #c3c3c3;
                    border-radius: 10px;
                }

            }

            .btn-list {
                outline: none;
                border: 1px solid;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                border-color: #7f7f7f;
                padding: 3px 12px;
                transform: translateX(-6px);
                background-color: #fff;
            }
        }

    }
}

.here-is {
    margin: 0 auto;
    background-color: #F4F4F4;
    position: relative;

    @media screen and (max-width: 992px) {
        background-color: #fff;
     }

    .container {
        max-width: 1270px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .col-2 {
        @include flex-column;
        align-items: baseline;
        width: calc(50% + 50px);
        position: relative;

        @media screen and (max-width: 992px) {
            width: auto;
            align-items: center;
        }

        &_right {

            @media screen and (max-width: 992px) {
               margin-left: auto;
               transform: translateX(20px);
            }
        }
    }

    .content {
        padding-top: 95px;    
        padding-bottom: 33px;    
        @include flex;
        font-family: $text-content;
        gap: 50px;

        @media screen and (max-width: 992px) {
            @include flex-column;
            padding-top: 60px;   
            padding-bottom: 0px;
        }

        @media screen and (max-width: 480px) {
            padding-top: 32px;   
        }

        &__title-wide {
            @include title;

            @media screen and (max-width: 992px) {
                display: none;
            }
            

        }

        &__title-narrow {
            @include title;
            display: none;
            font-size: 44px;
            margin-bottom: 50px;
            text-align: center;

            @media screen and (max-width: 992px) {
                display: block;

            }

            @media screen and (max-width: 480px) {
                font-size: 32px;
                margin-bottom: 30px;
            }

        }



        &__description {
            @include flex-column;
            gap: 35px;

            @media screen and (max-width: 992px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            &_item {
                display: grid;
                grid-template-columns: 111px auto;
                gap: 23px;

                @media screen and (max-width: 480px) {
                    grid-template-columns: 100%;
                    justify-items: center;
    
                }

                .text-box {
                    @media screen and (max-width: 480px) {
                        text-align: center;
        
                    }

                    
                    h3 {
                        color: #323232;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21px;
                        padding-bottom: 12px;
                    }

                    p {
                        color: #848E97;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                    }
                    
                }
            }


        }

        &__content-image {
            float: right;
            padding: 20px 20px 0px 20px;
            margin-right: auto;

            @media screen and (max-width: 992px) {
                padding: 0px;
            }

        }

    }

}

.fork-sub {
    margin: 0 auto;
    background-image: url("../img/blure-bg.png");
    background-size: 1920px 100%;
    padding-bottom: 97px;

    .container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .content {
        padding-top: 83px;    
        padding-bottom: 97px;    
        @include flex-column;
        font-family: $text-content;

        @media screen and (max-width: 992px) {
            padding-top: 98px;
            padding-bottom: 94px;
        }

        @media screen and (max-width: 480px) {
            padding-top: 14px;
            padding-bottom: 14px;
        }

        &__title {
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            padding-bottom: 61px;

            @media screen and (max-width: 992px) {
                font-size: 42px;
                padding-bottom: 39px;
            }

            @media screen and (max-width: 480px) {
                font-size: 28px;
                padding-bottom: 32px;
            }
        }

        &__price-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15px;
            row-gap: 30px;

            @media screen and (max-width: 1200px) {
                flex-wrap: wrap;
                max-width: 580px;
                justify-content: flex-end;
            }

            @media screen and (max-width: 620px) {
                max-width: 500px;
                justify-content: center;
                row-gap: 18px;
            }



            &_card {
                @include flex-column;
                padding-bottom: 38px;
                width: 257px;
                height: 460px;
                background-color: rgba(255,255,255,0.1);
                position: relative;
                

                .tariff {
                    color: $text-card-color;
                    width: inherit;
                    background-color: rgba(255,255,255,0.05);
                    padding: 36px 0 36px 0;
                    text-align: center;
                    
                    &_number {
                        text-align: center;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: uppercase;
                    }
                }

                .price {
                    color: $text-card-color;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 90px;
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 30px;
                    padding-bottom: 20px;
                }

                .price_text {
                    color: $text-card-color;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-bottom: 46px;

                }

                .vrline {
                    content: "";
                    width: 60px;
                    height: 5px;
                    background-color: #8D81AC;
                    z-index: 10;
                    margin-bottom: 30px;
                }

                .price_description {
                    color: $text-card-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    text-align: center;
                    padding: 0px 23px 30px 23px;
                }

                .price_btn {
                    outline: none;
                    border: none;
                    width: 163px;
                    background-color: rgba(255,255,255,0.15);
                    color: $text-card-color;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 43px;
                    text-transform: uppercase;
                    border-radius: 23px;
                    position: absolute;
                    bottom: 35px;
                    cursor: pointer;
                }

                &.-focused {
                    height: 560px;
                    width: 299px;
                    background-color: rgba(70,48,72,0.85);


                    .tariff {
                        padding: 43px 0 43px 0;
                        background-color: rgba(0,0,0,0.1);
                    }

                    .price {
                        font-size: 82px;
                        padding-top: 14px;
                        padding-bottom: 16px;
                    }

                    .price_text {
                        padding-bottom: 46px;
                    }

                    .vrline {
                        margin-bottom: 40px;
                    }

                    .price_btn {
                        width: 190px;
                        font-size: 16px;
                        line-height: 50px;
                        border-radius: 26px;
                        bottom: 47px;
                    }    
                }

            }

        }

    }

}
