@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'main-2.scss';
@import 'testimonials.scss';

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: $main-color-text;
    background-image: url('../img/background-img.jpg');
    background-position-x: center;
    background-size: 1920px 800px;
    background-repeat: no-repeat;
    
    a { 
        color: $main-color-text;
        text-decoration: none;
    }

    .container {
        max-width: 1180px;
        padding: 0 10px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 992px) {
        .container {
            max-width: 728px;
            padding: 0 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        .container {
            max-width: 290px;
            padding: 0 15px;
        }
    }
}




