@mixin flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin bg-paralax {
    background-repeat: no-repeat;
    background-size: auto;
}

@mixin title {
    margin-bottom: 19px;
    color: #8D81AC;
    font-family: $text-content;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

